<% unless comment.archived? %>
    <p>
        <strong>Commenter: </strong>
        <%= comment.commenter %>
        </p>
        <p>
        <strong>body: </strong>
        <%= comment.body %>
    </p>
    <%= link_to "Edit Comment", edit_article_comment_path(comment.article, comment) %>

    <%= link_to "Destroy Comment", [comment.article, comment], data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %>
    
<% end %>